h1, h2, h3, h4, h5, h6 {
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

body {
    font-family: 'Cantarell', sans-serif;
}

h2.panel-title {
    font-size: 1.8em;
}

h3.panel-title {
    text-align: center;
    font-size: 1.5em;
}

table.table-user-information th {
    text-align: right;
}

table.table-user-information td {
    width: 50%;
}