@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link href='http://fonts.googleapis.com/css?family=Play:400,700|Cantarell:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>

        <div class="container">
            <div class="page-header"><h1>@title</h1></dir>
            @content
        </div>
    </body>
</html>
