@(player: Player)

@main("Welcome to Football time!") {
<div class="container">
    <div class="row">
        <div class="span12" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">@player.firstName @player.lastName</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class ="col-md-3"><img src="@routes.Assets.at("/images/FB_Player_circe_1920cropped.jpg")">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <th>Primary</th>
                                    <td>@player.primaryPosition</td>
                                </tr>
                                <tr>
                                    <th>Alternate</th>
                                    <td>@player.alternatePosition</td>
                                </tr>
                                <tr>
                                    <th>Height</th>
                                    <td>@player.height</td>
                                </tr>


                                <tr>
                                    <th>Year of Birth</th>
                                    <td>@player.yearOfBirth</td>
                                </tr>
                                <tr>
                                    <th>NFL Start Year</th>
                                    <td>@player.startYear</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        @if(player.puntPlays.isEmpty != true) {
                            @puntsTable(player.puntPlays)
                        }

                        @if(player.passPlays.isEmpty != true) {
                            @passesTable(player.passPlays)
                        }

                        @if(player.kickoffPlays.isEmpty != true) {
                            @kickoffsTable(player.kickoffPlays)
                        }

                        @if(player.rushPlays.isEmpty != true) {
                            @rushesTable(player.rushPlays)
                        }
                        <div class="span3 offset9"> </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

}