@(plays: List[models.RushPlay])
<div class="panel col-md-3">
    <div class="panel-info">
        <div class=panel-heading">
            <h3 class="panel-title">Rushes</h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="scroll">
<table class="table">
    <thead>
        <tr>
            <th>Yards</th>
            <th>Direction</th>
        </tr>
    </thead>
    <tbody>
            @plays.map { play =>
            <tr>
                <td>@play.yards</td><td>@play.direction</td>
            </tr>
            }

    </tbody>
</table>
</div>
</div>
    </div>